[Unit]
Description=MinitelNet client
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/minitelnet/pi-client
Environment=MINITELNET_URL=ws://192.168.1.76:8000/ws
Environment=MINITEL_PORT=/dev/ttyUSB0
Environment=MINITEL_KEEPALIVE=1
Environment=MINITELNET_USER=minitel-50
ExecStart=/home/pi/minitelnet/pi-client/.venv/bin/python /home/pi/minitelnet/pi-client/launcher.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
